@import "../../theme/variables.scss";

page-languages{
    margin-right: 1em;
    
    .text{
        color: white;
        text-shadow: 1px 1px rgb(100, 100, 100);
    }

    .flags-continer{
        display: flex;
        justify-content: space-between;
    }

    .flag-container{
        padding: 1.5em;
    }

    .flag{
        max-width: 2em;
        max-height: 2em;
        border-radius: 6px;
    }
    
    .flag-selected{
        border-radius: 50% !important;
        background-color: rgba(167, 46, 0, 0.329);
    }

    .languaje-container{
        margin: 2px 5px;
        width: 70px;
        display: flex;
        justify-content: center;
    }
    
}