<ion-header>
  <ion-navbar [color]="myColor">
      <ion-title>
          {{title}}
      </ion-title>
      <ion-buttons end style="margin-right: 10px;">
          <button ion-button icon-only color="white" (click)="back()">
              <ion-icon name="arrow-round-back"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'aula4a': aulaTipo == '4A', 'aula4b': aulaTipo == '4B'}">
  <div>
      <div *ngFor="let chat of chatsLista; let i=index" class="chat-container">
          <div class="flex-v" [ngClass]="{'end-chat': chat.usuario == usuario}">
              <div  class="user-name">
                  <div *ngIf="chat.usuario!=usuario"> {{chat.usuario}}: </div>
              </div>
              <div class="width-100">
                  <div class="mensaje" [ngClass]="{'end-chat': chat.usuario == usuario}">{{chat.mensaje}}</div>
              </div>
              <div class="fecha">
                  {{chat.fecha}}
              </div>
          </div>
      </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <div class="flex-h">
          <div class="width-70">
              <textarea id="mensaje" class="mensaje-container" (keypress)="onChange($event)" (keyup)="onChange($event)" [(ngModel)]="mensaje" rows=1  placeholder="Escribir mensaje"></textarea>
          </div>
          <div class="width-30 center-horizontal center-vertical" style="margin: 0 10px;">
              <button ion-button block color="primary" (click)="enviarMensaje()">Enviar</button>
          </div>
      </div>
  </ion-toolbar>
</ion-footer>
