@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "../../theme/variables.scss";

page-login {
    background-color: #ffffff;    
    .scroll-content{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px !important;
    }
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.boton {
    background-color: rgb(111, 112, 111);
}

@-webkit-keyframes lightSpeedOut {
    from {
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
      transform: translate3d(100%, 0, 0) skewX(30deg);
      opacity: 0;
    }
  }
  
  @keyframes lightSpeedOut {
    from {
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
      transform: translate3d(100%, 0, 0) skewX(30deg);
      opacity: 0;
    }
  }
  
  .lightSpeedOut {
    -webkit-animation-name: lightSpeedOut;
    animation-name: lightSpeedOut;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  
  
   /*animacion*/
   #custom-overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100000;
      width:100%;
      background-image: url("../../assets/imgs/splashChatFondo.png");
      background-repeat: no-repeat ;
      background-size: cover ;
      background-position: center ;
    }
    .flb {
      height:100%;
      width:100%;
      animation: pulse 1s linear forwards;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Aligner-item {
      max-width: 50%;
    }
    .Aligner-item--top {
      align-self: flex-start;
    }
    .Aligner-item--bottom {
      align-self: flex-end;
    }
    #custom-overlay img {
      display: block;
      margin: 0 auto;
      width: 70%;
      height: auto;
      animation: lightSpeedOut 5000ms linear infinite both;
      animation-delay: 2s;
    }
  
    .animation-target {
      -webkit-animation: lightSpeedOut 1000ms linear both;
      animation: lightSpeedOut 1000ms linear both;
    }
