
<ion-header>
  <ion-navbar color="primary">
    <div class="flex-h language-container">
      <div class="width-50 center-vertical">
        <div class="flex-v go-back" (click)="goBack()">
          <img src="assets/imgs/goback.png">
        </div>
      </div>
      <div *ngIf="horizontal==false" class="width-50 center-vertical">
        <page-languages [select-language]="selectedLanguage"></page-languages>
      </div>
    </div>  
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="horizontal==true" class="flex-h language-container first-item">
    <div class="width-100" style="margin-right:2em;">
      <page-languages [select-language]="selectedLanguage"></page-languages>
    </div>
  </div>
  <div class="flex-v first-item">
    <ul class="flex-container wrap center-horizontal">
      <li class="flex-item" *ngFor="let animal of listadoAnimales" (click)="animalNameClick(animal)" (dblclick)="animalSoundClick(animal)">
        <div class="category-image-container width-100" [style.background-image]="'url('+ animal.imagen +')'">
        </div>
      </li>
    </ul>

  </div>
</ion-content>
