@import "../theme/variables.scss";


ion-app.md{
    background-image: url('../assets/imgs/splash.png') !important;
    //background-color: #ffae00;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}



.flex{
    &-v{
        display: flex;
        flex-direction: column
    }
    &-h{
        display: flex;
        flex-direction: row
    }
}

.height{
    &-10{
        height: 10%;
    }
    &-20{
        height: 20%;
    }
    &-30{
        height: 30%;
    }
    &-40{
        height: 40%;
    }
    &-50{
        height: 50%;
    }
    &-60{
        height: 60%;
    }
    &-70{
        height: 70%;
    }
    &-80{
        height: 80%;
    }
    &-90{
        height: 90%;
    }
    &-100{
        height: 100%;
    }
}

.width{
    &-10{
        width: 10%;
    }
    &-20{
        width: 20%;
    }
    &-30{
        width: 30%;
    }
    &-40{
        width: 40%;
    }
    &-50{
        width: 50%;
    }
    &-60{
        width: 60%;
    }
    &-70{
        width: 70%;
    }
    &-80{
        width: 80%;
    }
    &-90{
        width: 90%;
    }
    &-100{
        width: 100%;
    }
}

.center-horizontal{
    display: flex;
    justify-content: center;
}

.center-vertical{
    display: flex;
    align-items: center;
}

.end-horizontal{
    display: flex;
    justify-content: flex-end
}

.first-item{
    margin-top: 1em;
}

.last-item{
    margin-bottom:1em;
}

.margin-top-bottom{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}




.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrap li {
    background: $third-detail-color;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.flex-item {
    background: tomato;
    width: 125px;
    height: 115px;
    margin: 0.6em;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    padding: 0.2em;
}

.go-back{
    width: 35px;
    margin-left: 2em;   
}


//CONTROLS STYLES
.confirm-alert{
    > div{
        font-family: 'Ubuntu', sans-serif;
      background-color:$first-detail-color!important;
      text-align: center;
      font-weight: bold;
    }
    .alert-message{
        color: #ffffff;
        font-size: 1.5em;
        padding: 0;
    }
    .alert-head{
        color: #ffffff !important;
    }
    .alert-button{
        color: #ffffff;
    }
  }

.error-alert{
    > div{
        font-family: 'Ubuntu', sans-serif;
      background-color: $first-detail-color!important;
      text-align: center;
      font-weight: bold;
    }
    .alert-message{
        color: #ffffff;
        font-size: 1em;
        padding: 1em;
        font-weight: 500;
    }
    .alert-head{
        padding: 1em;
        justify-content: flex-start;
        display: flex;
        font-weight: 800;
        color: #ffffff !important;
    }
}

.fab ion-icon {
    color:#ffffff;
}

.alert-md .alert-head{
    color: $third-detail-color;
}

.alert-md .alert-radio-icon{
    border-color: $third-detail-color;
}
.radio-md .radio-icon{
    border-color: $third-detail-color;
}

.alert-radio-label{
    color: $third-detail-color !important;
}

ion-loading{
    background-color: rgba(56, 55, 58, 0.329);
}

.small-spinner{
    .spinner-circles circle{
        fill: $first-detail-color;
    }
    .loading-wrapper{
        transform: scale(2)!important;
    }
}

.big-spinner{
    .spinner-circles circle{
        fill: white;
    }
    .loading-wrapper{
        transform: scale(3)!important;
    }
}

.label-md[stacked], .label-md[floating]{
    color:#f9e6be  !important;
}
.ion-input{
    color: white !important;
}
.text-input-md{
    color: white !important;
}
.popover-md .popover-content{
    width: 78%
}
ion-list{
    .item-md{
        background-color: white;
        border-radius: 0px;
    }
    .item-radio.item-md ion-label{
        color:$third-detail-color;
    }
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: none;
    border-bottom-color:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.item-md.item-block .item-inner{
    border-bottom:none;
}
 
.item-label-stacked .select-md, .item-label-floating .select-md{
    color: white;
}

.button-md-light{
    color: white
}