@import "../theme/variables.scss";

ion-app.md{
    background-image: url('../assets/imgs/splashQR.png') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

*{
    font-family: 'Cuprum', sans-serif;
}

.flex{
    &-v{
        display: flex;
        flex-direction: column
    }
    &-h{
        display: flex;
        flex-direction: row
    }
}

.height{
    &-10{
        height: 10%;
    }
    &-20{
        height: 20%;
    }
    &-30{
        height: 30%;
    }
    &-40{
        height: 40%;
    }
    &-50{
        height: 50%;
    }
    &-60{
        height: 60%;
    }
    &-70{
        height: 70%;
    }
    &-80{
        height: 80%;
    }
    &-90{
        height: 90%;
    }
    &-100{
        height: 100%;
    }
}

.width{
    &-10{
        width: 10%;
    }
    &-20{
        width: 20%;
    }
    &-30{
        width: 30%;
    }
    &-40{
        width: 40%;
    }
    &-50{
        width: 50%;
    }
    &-60{
        width: 60%;
    }
    &-70{
        width: 70%;
    }
    &-80{
        width: 80%;
    }
    &-90{
        width: 90%;
    }
    &-100{
        width: 100%;
    }
}

.center-horizontal{
    display: flex;
    justify-content: center;
}

.center-vertical{
    display: flex;
    align-items: center;
}

.end-horizontal{
    display: flex;
    justify-content: flex-end;
}

.first-item{
    margin-top: 1em;
}

.last-item{
    margin-bottom:1em;
}

.margin-top-bottom{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.picture-container{
    height: 300px;     
    margin: 0 auto;
    position: relative;
    overflow: hidden;  
}

.picture{
    min-height: 300px;
}

.picture-detail{
    background-color: white;
}

.error-alert{
    text-align: center;
    > div{
        background-color: $error-color !important;//$error-color !important;
    }
}

.success-alert{
    text-align: center;
    > div{
        background-color: $first-detail-color !important;
    }
}

.confirm-alert{
    > div{
      background-color:$first-detail-color!important;
      text-align: center;
      font-weight: bold;
    }
    .alert-message{
        color: #ffffff;
        font-size: 1.3em;
        padding: 0;
    }
    .alert-head{
        color: #ffffff !important;
    }
    .alert-button{
        color: #ffffff;
    }
  }

.foto-alert{
    .alert-head{
        padding: 13px 13px 13px;
        background-color: #1d949b;
        color: white;
    }
    .alert-message{
        padding: 0px;
        margin: 0px;
        max-width: 100%;
        max-height: 100%;
        min-height: 100%;
        min-width: 100%;
    }
}

.user-info{
    display: flex;
    justify-content: start;
    color: $first-detail-color;
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.actions-container{
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.count-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: $first-detail-color;
    margin-right: 0.5em;
}

.no-data{
    color: #08585c;
    font-size: 2rem;
}

.icon-container{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 30px;
    height: 30px;
    margin: 0px 3px;
}

.mi-fab{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    color: #fff;
    background-color: $first-detail-color;
    transition: transform 200ms ease 10ms, opacity 200ms ease 10ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms ease 10ms, -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 56px;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    cursor: pointer;
    background-clip: padding-box;
    user-select: none;
    contain: strict;
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    padding: 1px 6px;
    align-items: flex-start;
}

.mi-fab-icon{
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 2.4rem;
    touch-action: manipulation;
    display: inline-block;
    font-family: "Ionicons";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
}
