@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "../../theme/variables.scss";

page-home {
  background-color: $first-detail-color;    
    .scroll-content{
        background-color: $first-detail-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px !important;
    }
}

  .content {
    background-color: #1c6321;
  }

  ion-title {
    //position: absolute;
    //top: 0;
    //left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 25%;
    text-align: center;
  }
  .boton {
    background-color: green;
  }

  